body[data-loading] {
  position: absolute;
  margin: 0;
  overflow: hidden;
  font-family: arial, serif;
}
body[data-loading] * {
  max-width: 100vw;
  max-height: 100vh;
}
#loadingPanel {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: #262626;
  white-space: nowrap;
  line-height: 100vh;
  text-align: center;
  font-size: 4em;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#loadingPanel > div {
  display: block;
  position: relative;
  margin: auto;
  top: calc(-50vh + 46px);
  width: 125px;
  height: 100px;
  max-height: 30vh;
}
#loadingPanel > div > div {
  border: 2px solid white;
  float: left;
  height: 100%;
  max-height: 25vh;
  box-sizing: border-box;
  margin-right: 3%;
  width: 30%;
  opacity: 0.1;
  animation-name: bounceG;
  -o-animation-name: bounceG;
  -webkit-animation-name: bounceG;
  -moz-animation-name: bounceG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
}
#loadingPanel > div > div:nth-child(1) {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}
#loadingPanel > div > div:nth-child(2) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}
#loadingPanel > div > div:nth-child(3) {
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
@keyframes bounceG {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}
@-o-keyframes bounceG {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}
@-ms-keyframes bounceG {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}
@-webkit-keyframes bounceG {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}
@-moz-keyframes bounceG {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0.1;
  }
}
@media (max-width: 500px) {
  #loadingPanel {
    font-size: 3em;
  }
}
