@import "variables.less";

@font-face
{
	font-family: okpro;
	src: url('DINPro-Light.woff');
}

*
{
	font-family: okpro, arial, serif;
}

body
{
	margin: 0;
	background: @color-main;
	min-width: @val-min-mob-page-width;
	min-height: @val-full-height;

	&[data-init=true] li[data-access=enter],
	&[data-init=false] li[data-access=profile]
	{
		display: none;
	}
}

header
{
	width: 100%;
	box-shadow: 0 0 10px @color-shadow-strong;
}

main
{
	display: block;
	margin: 0 auto;
	padding: 20px;
	max-width: 800px;
	background-color: @color-main-dark;
	box-shadow: 0 0 10px black;
	text-align: justify;
	color: @color-text;
}

a
{
	color: @color-text - #222222;

	&:hover
	{
		color: @color-text - #444444;
	}
}

button
{
	.unselectable();
	display: block;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	cursor: pointer;
}

input[type="email"], input[type="password"],
input[type="text"], input[type="tel"]
{
	box-sizing: border-box;
	height: @val-min-element-height;
	padding-left: 8px;
	padding-bottom: 3px;
	border: 2px inset @color-main-light;
	border-radius: 16px;
	outline: 0;
	background-color: @color-main-dark;
	font-size: 1em;
	color: @color-text;

	&:focus
	{
		background-color: @color-main-slightly-dark;
	}
}

input[type="button"]
{
	height: @val-min-element-height;
	padding: 0 8px 3px 8px;
	border: 2px outset @color-addetive-dark;
	border-radius: 16px;
	outline: 0;
	background-color: @color-addetive;
	font-size: 1em;
	color: @color-text-addetive;
	cursor: pointer;

	&:active
	{
		padding: 0 8px 1px 8px;
		border-style: inset;
		background-color: @color-addetive-slightly-dark;
		color: @color-text-addetive-highlight;
	}
}

h1, h2
{
	margin-top: 0;
	text-align: center;
	font-size: 22px;
}

.screen-fix
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: @color-main;
	top: 0;
	left: 0;
	color: #C0C0C0;
	z-index: 1000;

	b
	{
		color: @color-text-addetive-highlight;
	}
}

//<editor-fold desc="Media queries">
@media (max-width: @val-min-full-page-width)
{
	#headerNav > ul
	{
		> li
		{
			width: 33.3%;
			text-align: center;

			&:last-child::before
			{
				content: none;
			}

			&[data-type=desk]
			{
				display: none;
			}
		}

		&[data-type="sub-menu"]
		{
			display: none;
		}
	}
}

@media not all and (max-width: @val-min-full-page-width)
{
	#headerNav > ul
	{
		display: flex;
		max-width: 840px;

		> li
		{
			padding: 6px 10px 0 10px;
			text-align: center;

			&:nth-child(even)
			{
				flex: 1;
			}

			&:before
			{
				left: 12px;
			}

			&[data-type=mob], &:empty
			{
				display: none;
			}
		}

		&[data-type="sub-menu"]
		{
			transition: height 0.5s;
			display: block;
			position: relative;
			height: 0;
			overflow: hidden;
			background-color: @color-addetive;

			> li
			{
				width: 24.93%;
				text-align: center;
			}

			&[data-opened]
			{
				border-bottom: 2px inset @color-addetive-dark;
				height: 40px;
			}

			&:after
			{
				.border-horizontal-two-pixel(@color-addetive-dark, @color-addetive-light);
				display: block;
				position: relative;
				width: 100%;
				content: "";
			}
		}

		&:before
		{
			.header-nav-separator();

			float: left;
		}
	}
}

//</editor-fold>

//<editor-fold desc="Class selector">
.fixed
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: @val-min-mob-page-width;
}

//</editor-fold>

//<editor-fold desc="ID selector">
#data
{
	display: none;
}

#headerBack
{
	max-height: e('calc(100vh - 44px)'); //'
	overflow: hidden;

	> img
	{
		.unselectable();
		display: block;
		width: 100%;
		min-width: 500px;
		height: auto;
	}
}

#headerLogo
{
	position: absolute;
	height: auto;
}

#headerNav
{
	height: 40px;
	border-top: 2px solid darken(@color-main, 10%);
	border-bottom: 2px solid darken(@color-main, 10%);
	background-color: @color-addetive;
	box-shadow: 0 0 10px @color-shadow-strong;

	> ul
	{
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
		height: 40px;
		font-size: 1.2em;
		color: @color-text-addetive;

		> li
		{
			.unselectable();
			position: relative;
			float: left;
			padding-top: 6px;
			box-sizing: border-box;
			height: 100%;
			background-size: 100% 100%;
			cursor: pointer;
			user-select: none;
			list-style-type: none;
			transition: width 1s ease-out;

			&[data-access] > a
			{
				color: @color-text;
				text-decoration: none;
			}

			&:hover::after
			{
				opacity: 1;
			}

			&:before
			{
				.header-nav-separator();
				float: right;
				top: -6px;
			}

			&:after
			{
				content: "";
				display: block;
				position: absolute;
				transition: opacity 1s ease-out;
				top: 0;
				left: 0;
				background-image: url('../images/navButtonActive.png');
				background-size: 100% 100%;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

#main-menu
{
	transition: background-color 0.5s;
	box-sizing: border-box;
	height: 0;
	overflow-x: hidden;
	background-color: transparent;

	> div
	{
		transition: width 0.5s;
		margin: 0;
		width: 0;
	}

	&[data-type='verticle']
	{
		transition: height 0.5s;
		position: absolute;
	}

	&[data-type='horizontal']
	{
		position: fixed;
		top: 0;
		left: 0;
		width: @val-full-width;
		height: @val-full-height;
		z-index: 100;
		background-color: @color-shadow;

		> div
		{
			padding: 0;
			height: 100%;
			width: 300px;
			overflow-x: hidden;
			border-right: 1px solid @color-main-dark;
			background-color: @color-main;

			> header
			{
				position: relative;
				height: 48px;
				border-bottom: 2px solid @color-addetive-dark;
				background-color: @color-addetive;
				white-space: nowrap;

				> p
				{
					.no-text();
					position: absolute;
					height: 100%;
					margin: 0;
					padding-left: 11px;
					line-height: 45px;
					color: @color-text-addetive;
				}

				> button //header-close-button
				{
					transition: background-color 0.5s;
					position: absolute;
					right: 0;
					height: 100%;
					width: 48px;
					padding: 6px;
					font-size: 1.5em;
					color: @color-text-addetive;

					&:before
					{
						.header-nav-separator();
						display: inline;
						float: left;
						top: -6px;
						left: -8px;
						height: 48px;
					}

					&:hover
					{
						background-color: @color-shadow-mild;
					}
				}
			}

			p
			{
				white-space: nowrap;
			}
		}
	}
}

//</editor-fold>

//<editor-fold desc="Selection">
.selection-mixin() {
	color: @color-text-addetive;
	background: @color-addetive-slightly-dark;
}

::-moz-selection
{
	.selection-mixin()
}

::selection
{
	.selection-mixin()
}

//</editor-fold>

//<editor-fold desc="Webkit scrollbars">
::-webkit-scrollbar
{
	width: 4px;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAAAAA;

	&:hover
	{
		background-color: #EEEEEE;
	}
}

//</editor-fold>

//<editor-fold desc="">
//</editor-fold>