@font-face {
  font-family: okpro;
  src: url('DINPro-Light.woff');
}
* {
  font-family: okpro, arial, serif;
}
body {
  margin: 0;
  background: #262626;
  min-width: 300px;
  min-height: 100vh;
}
body[data-init=true] li[data-access=enter],
body[data-init=false] li[data-access=profile] {
  display: none;
}
header {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
main {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  background-color: #0c0c0c;
  box-shadow: 0 0 10px black;
  text-align: justify;
  color: white;
}
a {
  color: #dddddd;
}
a:hover {
  color: #bbbbbb;
}
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  box-sizing: border-box;
  height: 40px;
  padding-left: 8px;
  padding-bottom: 3px;
  border: 2px inset #595959;
  border-radius: 16px;
  outline: 0;
  background-color: #0c0c0c;
  font-size: 1em;
  color: white;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
  background-color: #151515;
}
input[type="button"] {
  height: 40px;
  padding: 0 8px 3px 8px;
  border: 2px outset #7d0008;
  border-radius: 16px;
  outline: 0;
  background-color: #E3000F;
  font-size: 1em;
  color: white;
  cursor: pointer;
}
input[type="button"]:active {
  padding: 0 8px 1px 8px;
  border-style: inset;
  background-color: #b0000c;
  color: #f0f0f0;
}
h1,
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 22px;
}
.screen-fix {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  top: 0;
  left: 0;
  color: #C0C0C0;
  z-index: 1000;
}
.screen-fix b {
  color: #f0f0f0;
}
@media (max-width: 800px) {
  #headerNav > ul > li {
    width: 33.3%;
    text-align: center;
  }
  #headerNav > ul > li:last-child::before {
    content: none;
  }
  #headerNav > ul > li[data-type=desk] {
    display: none;
  }
  #headerNav > ul[data-type="sub-menu"] {
    display: none;
  }
}
@media not all and (max-width: 800px) {
  #headerNav > ul {
    display: flex;
    max-width: 840px;
  }
  #headerNav > ul > li {
    padding: 6px 10px 0 10px;
    text-align: center;
  }
  #headerNav > ul > li:nth-child(even) {
    flex: 1;
  }
  #headerNav > ul > li:before {
    left: 12px;
  }
  #headerNav > ul > li[data-type=mob],
  #headerNav > ul > li:empty {
    display: none;
  }
  #headerNav > ul[data-type="sub-menu"] {
    transition: height 0.5s;
    display: block;
    position: relative;
    height: 0;
    overflow: hidden;
    background-color: #E3000F;
  }
  #headerNav > ul[data-type="sub-menu"] > li {
    width: 24.93%;
    text-align: center;
  }
  #headerNav > ul[data-type="sub-menu"][data-opened] {
    border-bottom: 2px inset #7d0008;
    height: 40px;
  }
  #headerNav > ul[data-type="sub-menu"]:after {
    border-width: 0 1px 0 0;
    border-top: 1px solid #7d0008;
    border-bottom: 1px solid #ff4a56;
    display: block;
    position: relative;
    width: 100%;
    content: "";
  }
  #headerNav > ul:before {
    content: "";
    display: inline-flex;
    position: relative;
    height: 40px;
    border-width: 0 1px 0 0;
    border-left: 1px solid #ff4a56;
    border-right: 1px solid #7d0008;
    float: left;
  }
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 300px;
}
#data {
  display: none;
}
#headerBack {
  max-height: calc(100vh - 44px);
  overflow: hidden;
}
#headerBack > img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  min-width: 500px;
  height: auto;
}
#headerLogo {
  position: absolute;
  height: auto;
}
#headerNav {
  height: 40px;
  border-top: 2px solid #0c0c0c;
  border-bottom: 2px solid #0c0c0c;
  background-color: #E3000F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
#headerNav > ul {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 40px;
  font-size: 1.2em;
  color: white;
}
#headerNav > ul > li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  float: left;
  padding-top: 6px;
  box-sizing: border-box;
  height: 100%;
  background-size: 100% 100%;
  cursor: pointer;
  user-select: none;
  list-style-type: none;
  transition: width 1s ease-out;
}
#headerNav > ul > li[data-access] > a {
  color: white;
  text-decoration: none;
}
#headerNav > ul > li:hover::after {
  opacity: 1;
}
#headerNav > ul > li:before {
  content: "";
  display: inline-flex;
  position: relative;
  height: 40px;
  border-width: 0 1px 0 0;
  border-left: 1px solid #ff4a56;
  border-right: 1px solid #7d0008;
  float: right;
  top: -6px;
}
#headerNav > ul > li:after {
  content: "";
  display: block;
  position: absolute;
  transition: opacity 1s ease-out;
  top: 0;
  left: 0;
  background-image: url('../images/navButtonActive.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#main-menu {
  transition: background-color 0.5s;
  box-sizing: border-box;
  height: 0;
  overflow-x: hidden;
  background-color: transparent;
}
#main-menu > div {
  transition: width 0.5s;
  margin: 0;
  width: 0;
}
#main-menu[data-type='verticle'] {
  transition: height 0.5s;
  position: absolute;
}
#main-menu[data-type='horizontal'] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
#main-menu[data-type='horizontal'] > div {
  padding: 0;
  height: 100%;
  width: 300px;
  overflow-x: hidden;
  border-right: 1px solid #0c0c0c;
  background-color: #262626;
}
#main-menu[data-type='horizontal'] > div > header {
  position: relative;
  height: 48px;
  border-bottom: 2px solid #7d0008;
  background-color: #E3000F;
  white-space: nowrap;
}
#main-menu[data-type='horizontal'] > div > header > p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  height: 100%;
  margin: 0;
  padding-left: 11px;
  line-height: 45px;
  color: white;
}
#main-menu[data-type='horizontal'] > div > header > button {
  transition: background-color 0.5s;
  position: absolute;
  right: 0;
  height: 100%;
  width: 48px;
  padding: 6px;
  font-size: 1.5em;
  color: white;
}
#main-menu[data-type='horizontal'] > div > header > button:before {
  content: "";
  display: inline-flex;
  position: relative;
  height: 40px;
  border-width: 0 1px 0 0;
  border-left: 1px solid #ff4a56;
  border-right: 1px solid #7d0008;
  display: inline;
  float: left;
  top: -6px;
  left: -8px;
  height: 48px;
}
#main-menu[data-type='horizontal'] > div > header > button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#main-menu[data-type='horizontal'] > div p {
  white-space: nowrap;
}
::-moz-selection {
  color: white;
  background: #b0000c;
}
::selection {
  color: white;
  background: #b0000c;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #AAAAAA;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #EEEEEE;
}
