#main-menu > div > div {
  padding: 10px;
}
#main-menu > div > div[data-module=enter] > input[type="email"],
#main-menu > div > div[data-module=profile] > input[type="email"],
#main-menu > div > div[data-module=enter] > input[type="password"],
#main-menu > div > div[data-module=profile] > input[type="password"] {
  width: 100%;
  margin-top: 5px;
}
#main-menu > div > div[data-module=enter] > input[type="button"],
#main-menu > div > div[data-module=profile] > input[type="button"] {
  margin-top: 5px;
  width: 100%;
}
#main-menu > div > div[data-module=enter] > hr,
#main-menu > div > div[data-module=profile] > hr {
  border: 0;
  border-width: 0 1px 0 0;
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #595959;
}
#main-menu > div > div[data-module=enter] > p,
#main-menu > div > div[data-module=profile] > p {
  margin: 0 0 0 10px;
  color: white;
}
#main-menu > div > div[data-module="menu"] > nav a,
#main-menu > div > div[data-module="nav"] > nav a,
#main-menu > div > div[data-module="menu"] > nav p,
#main-menu > div > div[data-module="nav"] > nav p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  height: 40px;
  margin: 0;
  line-height: 40px;
  white-space: nowrap;
  text-indent: 4px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#main-menu > div > div[data-module="menu"] > nav a[data-type="comboItem"],
#main-menu > div > div[data-module="nav"] > nav a[data-type="comboItem"],
#main-menu > div > div[data-module="menu"] > nav p[data-type="comboItem"],
#main-menu > div > div[data-module="nav"] > nav p[data-type="comboItem"] {
  position: relative;
}
#main-menu > div > div[data-module="menu"] > nav a[data-type="comboItem"]:hover:before,
#main-menu > div > div[data-module="nav"] > nav a[data-type="comboItem"]:hover:before,
#main-menu > div > div[data-module="menu"] > nav p[data-type="comboItem"]:hover:before,
#main-menu > div > div[data-module="nav"] > nav p[data-type="comboItem"]:hover:before {
  border-color: transparent transparent transparent #dddddd;
}
#main-menu > div > div[data-module="menu"] > nav a[data-type="comboItem"]:before,
#main-menu > div > div[data-module="nav"] > nav a[data-type="comboItem"]:before,
#main-menu > div > div[data-module="menu"] > nav p[data-type="comboItem"]:before,
#main-menu > div > div[data-module="nav"] > nav p[data-type="comboItem"]:before {
  content: "";
  position: absolute;
  left: 258px;
  top: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent white;
}
#main-menu > div > div[data-module="menu"] > nav a[data-type="comboItem"] + div,
#main-menu > div > div[data-module="nav"] > nav a[data-type="comboItem"] + div,
#main-menu > div > div[data-module="menu"] > nav p[data-type="comboItem"] + div,
#main-menu > div > div[data-module="nav"] > nav p[data-type="comboItem"] + div {
  transition: height 0.5s;
  height: 0;
  padding: 0 10px 0 10px;
  overflow: hidden;
}
#main-menu > div > div[data-module="menu"] > nav a[data-type="comboItem"]:hover + div,
#main-menu > div > div[data-module="nav"] > nav a[data-type="comboItem"]:hover + div,
#main-menu > div > div[data-module="menu"] > nav p[data-type="comboItem"]:hover + div,
#main-menu > div > div[data-module="nav"] > nav p[data-type="comboItem"]:hover + div,
#main-menu > div > div[data-module="menu"] > nav a[data-type="comboItem"] + div:hover,
#main-menu > div > div[data-module="nav"] > nav a[data-type="comboItem"] + div:hover,
#main-menu > div > div[data-module="menu"] > nav p[data-type="comboItem"] + div:hover,
#main-menu > div > div[data-module="nav"] > nav p[data-type="comboItem"] + div:hover {
  height: 162px;
}
#main-menu > div > div[data-module="menu"] > nav a:hover,
#main-menu > div > div[data-module="nav"] > nav a:hover,
#main-menu > div > div[data-module="menu"] > nav p:hover,
#main-menu > div > div[data-module="nav"] > nav p:hover {
  background-color: #151515;
  color: #dddddd;
}
#main-menu > div > div[data-module="menu"] > nav a:after,
#main-menu > div > div[data-module="nav"] > nav a:after,
#main-menu > div > div[data-module="menu"] > nav p:after,
#main-menu > div > div[data-module="nav"] > nav p:after {
  border-width: 0 1px 0 0;
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #595959;
  content: "";
  display: block;
}
#data-enter-output {
  transition: max-height 0.5s;
  max-height: 0;
}
#data-enter-output:not(:empty) {
  max-height: 500px;
  margin-top: 6px;
  padding: 8px;
  border: 1px solid #E3000F;
  border-radius: 16px;
  overflow-y: hidden;
  color: white;
}
