@import "variables.less";

@FORM-BASE: ~'#main-menu > div > div';

@{FORM-BASE}
{
	padding: 10px;

	&[data-module=enter], &[data-module=profile]//"
	{
		> input[type="email"], > input[type="password"]
		{
			width: 100%;
			margin-top: 5px;
		}

		> input[type="button"]
		{
			margin-top: 5px;
			width: 100%;
		}

		> hr
		{
			border: 0;
			.border-horizontal-two-pixel(@color-main-dark, @color-main-light);
		}

		> p
		{
			margin: 0 0 0 10px;
			color: @color-text;
		}
	}

	&[data-module="menu"], &[data-module="nav"]
	{
		>nav a, >nav p
		{
			.unselectable();
			display: block;
			height: @val-min-element-height;
			margin: 0;
			line-height: @val-min-element-height;
			white-space:nowrap;
			text-indent: 4px;
			text-decoration: none;
			color: @color-text;
			cursor: pointer;

			&[data-type="comboItem"]
			{
				position: relative;

				&:hover
				{
					&:before
					{
						border-color: transparent transparent transparent @color-text-highlight;
					}
				}

				&:before
				{
					content: "";
					position: absolute;
					left: 280px - 22px;
					top: 14px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7px 0 7px 14px;
					border-color: transparent transparent transparent @color-text;
				}

				+div
				{
					transition: height 0.5s;
					height: 0;
					padding: 0 10px 0 10px;
					overflow: hidden;
				}

				&:hover + div, &+div:hover
				{
					height: 162px;
				}
			}

			&:hover
			{
				background-color: @color-main-slightly-dark;
				color: @color-text-highlight;
			}

			&:after
			{
				.border-horizontal-two-pixel(@color-main-dark, @color-main-light);
				content: "";
				display: block;
			}
		}
	}
}

#data-enter-output
{
	transition: max-height 0.5s;
	max-height: 0;

	&:not(:empty)
	{
		max-height: 500px;
		margin-top: 6px;
		padding: 8px;
		border: 1px solid @color-addetive;
		border-radius: 16px;
		overflow-y: hidden;
		color: @color-text;
	}
}