@val-min-full-page-width: 800px;
@val-min-mob-page-width: 300px;

@val-full-height: 100vh;
@val-full-width: 100vw;

@val-min-element-height: 40px;

@color-main : #262626;
@color-addetive: #E3000F;
@color-text: white;
@color-text-addetive: white;

@color-main-light: lighten(@color-main, 20%);
@color-main-slightly-dark: @color-main - #111;
@color-main-dark: @color-main - #1A1A1A;
@color-addetive-light: lighten(@color-addetive, 20%);
@color-addetive-slightly-dark: darken(@color-addetive, 10%);
@color-addetive-dark: darken(@color-addetive, 20%);
@color-text-highlight: @color-text - #222;
@color-text-addetive-highlight: @color-text-addetive - #0F0F0F;

@color-shadow-strong: rgba(0, 0, 0, 0.8);
@color-shadow: rgba(0, 0, 0, 0.6);
@color-shadow-mild: rgba(0, 0, 0, 0.4);

@sys-pwk: '-webkit-%s';
@sys-pmoz: '-moz-%s';
@sys-po: '-o-%s';

.border-vertical-two-pixel(@color1, @color2) {
	border-width: 0 1px 0 0;
	border-left: 1px solid @color1;
	border-right: 1px solid @color2;
}

.border-horizontal-two-pixel(@color1, @color2) {
	border-width: 0 1px 0 0;
	border-top: 1px solid @color1;
	border-bottom: 1px solid @color2;
}

.unselectable()
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-text()
{
	.unselectable();
	cursor: default;
}

.border-image(@val)
{
	-webkit-border-image: e(%(@sys-pwk, @val));
	-moz-border-image: e(%(@sys-pmoz, @val));
	-o-border-image: e(%(@sys-po, @val));
	border-image: @val;
}

.header-nav-separator()
{
	content: "";
	display: inline-flex;
	position: relative;
	height: 40px;
	.border-vertical-two-pixel(@color-addetive-light, @color-addetive-dark)
}