input.-reg-text {
  background-color: #080808;
}
#reg-output {
  transition: 0.5s;
  margin: 2px 0 6px 0;
  padding: 8px;
  max-height: 140px;
  border: 2px solid #E3000F;
  border-radius: 16px;
}
#reg-output:empty {
  display: none;
  max-height: 0;
}
@media (max-width: 800px) {
  input.-reg-text {
    margin: 0 0 10px -10px;
    width: calc(100% + 20px);
  }
  #reg-button {
    margin: 8px 0 0 -10px;
    width: calc(100% + 20px);
  }
}
@media not all and (max-width: 800px) {
  input.-reg-text {
    margin: 0 0 10px 4px;
  }
  br.-reg-wrap {
    display: none;
  }
}
